.input {
  font-weight: 700;
  border: 0px;
  background-color: transparent;
}
.input::placeholder {
  color: rgb(102, 94, 94);
  font-weight: 700;
}

.input:focus {
  outline: none; /* Убирает рамку фокуса */
}
.inputDiv {
  border: 0px solid black;
  border-radius: 3px;
  background-color: rgb(217, 215, 215);
  padding: 10px 12px;
  display: flex;
  align-items: center;
}
